<mat-tab-group [selectedIndex]="selected.value"
               (selectedIndexChange)="selected.setValue($event)" #tab>
  <mat-tab *ngFor="let tab of tabs; let index = index" [label]="tab">
    <ng-template mat-tab-label>
        {{nodeConsoles[index].node.name}}
        <button mat-button (click)="closeTab(index)">
            <mat-icon>close</mat-icon>
        </button>
    </ng-template>
    <!-- <div #terminal></div> -->
    <div>
        &nbsp; {{nodeConsoles[index].node.name}} >
    </div>
  </mat-tab>
</mat-tab-group>

<div class="navigation-buttons">
    <mat-icon>swap_vert</mat-icon>
    <mat-icon>close</mat-icon>
</div>
